*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

:root{
    /* Background Color */
    --bg-primary-color: rgb(10, 10, 10);
    --fill-color: rgb(248, 248, 248);
    --bg-food-color: red;

    /* Text Colors */
    --text-primary-color: rgb(235, 235, 235);

    /* Spacing Variables */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;

    /* Border Colors */
    --border-primary-color: #333333;

    /* Border Radius */
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 12px;
    --border-radius-lg: 16px;
    --border-radius-xl: 20px;
    --border-radius-2xl: 24px;
}

html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main,section{
    height: 100%;
    width: 100%;
}

section{
    height: 100%;
    padding: var(--space-2xl);
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.infos .info{
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
}

.board{
    border: 1px solid var(--border-primary-color);
    flex-grow: 1;

    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(50px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(50px,1fr));
    
}

.board .block{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--border-primary-color);
}

.fill{
    background-color: var(--fill-color);
}

.food{
    background-color: var(--bg-food-color);
}

.btn{
    padding: var(--space-sm) var(--space-lg);
    border-radius: 10px;
    font-weight: 600;
    transition: all 0.3 ease-in-out;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.1);
}

.modal{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #35353587;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-game,.restart-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-md);
}

.restart-game{
    display: none;
}

.start-game h4{
    font-size: 20px;
}